<form class = "newForm">
  <div class = "form-group">
    <label for="title">Title: </label>
    <input type='text' name='title' ng-model='turbine.title' class="form-control">
  </div>
  <div class = "form-group">
    <label for="height">Height: </label>
    <input type='text' name='authorName' ng-model='turbine.height' class="form-control">
  </div>
  <div class = "form-group">
    <label for="diameter">Diameter: </label>
    <input type='text' name='authorName' ng-model='turbine.diameter' class="form-control">
  </div>
  <div class = "form-group">
    <label for="city">Photo Url: </label>
    <input type='text' name='photoUrl' ng-model='turbine.photoUrl' class="form-control">
  </div>
  <div class = "form-group">
    <label for="city">City: </label>
    <input type='text' name='photoUrl' ng-model='turbine.city' class="form-control">
  </div>
  <div class = "form-group">
    <label for="city">State: </label>
    <input type='text' name='photoUrl' ng-model='turbine.state' class="form-control">
  </div>
  <button class="btn btn-default" ng-click='create()'>New Turbine</button>
</form>
