<form class = "newForm">
  <div class = "form-group">
    <label for="title">Name: </label>
    <input type='text' name='name' ng-model='TurbineNewViewModel.turbine.name' class="form-control">
  </div>
  <div class = "form-group">
    <label for="height">Height(m): </label>
    <input type='text' name='tower_height' ng-model='TurbineNewViewModel.turbine.tower_height' class="form-control">
  </div>
  <div class = "form-group">
    <label for="diameter">Diameter(m): </label>
    <input type='text' name='diameter' ng-model='TurbineNewViewModel.turbine.diameter' class="form-control">
  </div>
  <div class = "form-group">
    <label for="diameter">Rated Capacity(kW): </label>
    <input type='text' name='diameter' ng-model='TurbineNewViewModel.turbine.rated_capacity' class="form-control">
  </div>
  <div class = "form-group">
    <label for="city">Photo Url: </label>
    <input type='text' name='photo_url' ng-model='TurbineNewViewModel.turbine.photo_url' class="form-control">
  </div>
  <div class = "form-group">
    <label for="city">City: </label>
    <input type='text' name='city' ng-model='TurbineNewViewModel.turbine.city' class="form-control">
  </div>
  <div class = "form-group">
    <label for="city">State: </label>
    <input type='text' name='state' ng-model='TurbineNewViewModel.turbine.state' class="form-control">
  </div>
  <button class="btn btn-default" ng-click='TurbineNewViewModel.create()'>New Turbine</button>
</form>
